---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="404: Not found">
    <div class="text-center h-full flex flex-col">
        <div class="m-auto pb-10">
            <div class="text-8xl font-bold text-accent">404</div>

            <div class="text-3xl py-3 font-bold">Not Found</div>
            <div class="py-2">
                <text class="text-lg"> The page you're looking for could not be found!</text>
            </div>
            <a class="btn btn-accent btn-outline px-8 m-9" href="/">Home</a>
        </div>
    </div>
</BaseLayout>
