---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hey there 👋</div>
		<div class="text-5xl font-bold text-accent">I'm Roberto Mora</div>
		<div class="text-3xl py-3 font-bold">Software and DevOps Engineer</div>
		<div class="py-2">
			<text class="text-lg">
				Welcome to <kbd class="kbd kbd-md">convoluted.io</kbd>, my personal portfolio and blog, where I share
				original tech articles about DevOps and Software Engineering!
			</text>
		</div>
		<div class="mt-8">
			<a class="btn btn-outline" href="https://twitter.com/romogo17" target="_blank"> Let's connect!</a>
		</div>
	</div>

	<div class="flex justify-center">
		<div class="card w-full bg-secondary text-secondary-content">
			<div class="card-body">
				<h2 class="card-title"><span class="loading loading-infinity loading-md"></span>Under construction!</h2>
				<p>This site is being remodeled. Stay tuned!</p>
			</div>
		</div>
	</div>
</BaseLayout>
