---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

import PostHorizontalCard from '../components/post/PostHorizontalCard.astro'

async function getRecentPosts() {
    const posts = await getCollection('posts', ({ data }) => {
        return data.isDraft !== true
    })
    posts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
    return posts.slice(0, 5)
}

const posts = await getRecentPosts()
---

<BaseLayout>
    <div class="pb-10 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold text-accent">I'm Roberto Mora</div>
        <div class="text-3xl py-3 font-bold">Software and DevOps Engineer</div>
        <div class="py-2">
            <text class="text-lg">
                Welcome to <kbd class="kbd kbd-md">convoluted.io</kbd>, my personal blog, where we'll unravel different
                DevOps and Software Engineering topics!
            </text>
        </div>

        <a class="btn btn-outline mt-8" href="https://twitter.com/romogo17">
            Connect on
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"
                ><path
                    d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                ></path>
            </svg>
        </a>
    </div>

    <div class="flex flex-col justify-between pb-10">
        <div class="text-xl w-full font-bold my-5">Recent Posts</div>
        <div class="w-full min-w-full grow">
            {
                posts.map((post, i) => (
                    <>
                        <PostHorizontalCard post={post} />
                        {i !== posts.length - 1 ? <div class="divider my-0" /> : null}
                    </>
                ))
            }
        </div>
    </div>

    <!-- <div class="flex justify-center">
        <div class="card w-full bg-secondary text-secondary-content">
            <div class="card-body">
                <h2 class="card-title"><span class="loading loading-infinity loading-md"></span>Under construction!</h2>
                <p>This site is being remodeled. Stay tuned!</p>
            </div>
        </div>
    </div> -->
</BaseLayout>
