.share-buttons {
  margin: 25px auto;
  max-width: 800px;
  text-align: center;
  a {
    border: 0 !important;
    color: #888 !important;
    margin-bottom: 25px;
    &:hover {
      color: #333;
    }
    svg {
      width: auto;
      height: 30px;
    }
  }
}
