.social-icons {
  margin-top: 10px;
  text-align: center;
  a {
    cursor: pointer;
    border: 0 !important;
    background: transparent !important;
    opacity: 0.6;
    margin-right: 10px;
    svg {
      width: 40px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  img {
    width: auto;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .footer {
    .menu a {
      font-size: 16px !important;
    }
    .social-icons img {
      height: 25px;
    }
  }
}
