---
---

<div class="giscus mt-10"></div>

<script
    src="https://giscus.app/client.js"
    data-repo="romogo17/convoluted.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkxNjQ5ODI5NDA="
    data-category="General"
    data-category-id="DIC_kwDOCdVwnM4CXl-W"
    data-mapping="og:title"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
