---
import type { CollectionEntry } from 'astro:content'
import { getEntries } from 'astro:content'

import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'

export interface Props {
    post: CollectionEntry<'posts'>
}

dayjs.extend(localizedFormat)
const { post } = Astro.props
const categories = await getEntries(post.data.categories)
---

<div class="mb-6">
    <h1 class="my-2 text-4xl font-bold align-middle">{post.data.title}</h1>
    <div class="text-xs">
        <time>{dayjs(post.data.publishDate).format('ll')}</time>
        {
            post.data.updatedDate && (
                <>
                    (updated on <time>{dayjs(post.data.updatedDate).format('ll')}</time>)
                </>
            )
        }
        &bull;
        {
            categories.map((category, i) => (
                <>
                    <!-- prettier-ignore -->
                    <a href="#" class="no-underline hover:underline">{category.data.name}</a>{i !== categories.length - 1 ? ', ' : null}
                </>
            ))
        }
    </div>
</div>
