---
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

const { title = SITE_TITLE, description = SITE_DESCRIPTION, image } = Astro.props
---

<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body tabindex="0">
        <div class="flex flex-col h-screen justify-between">
            <Navbar />
            <div class="md:flex md:justify-center grow">
                <main class="p-6 pt-10 lg:pt-0 max-w-[900px]">
                    <slot />
                </main>
            </div>
            <Footer />
        </div>
    </body>
</html>
